body{
    /* background-color: #1f242d; */
    padding-top: 10%;
    color: white;
    background-color: #000;
    
}

.home {
    height: 100vh;
    /* background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80); */
    background-color: #000;
    background-size: cover;
    background-position: center;
    color: white;
    
  /*  this is where the magic happens:  */
    background-attachment: fixed;
}


.navbar{
    background-color: black !important;
    border-bottom: 2px solid #0ef;
    opacity: 0.8;
}


.social-media a {
    box-shadow: 0 0 10px 0  #0ef;
    background-color: #0ef ;
    color: #323946;
    transition: .5s ease;
}

.social-media a:hover{
    box-shadow: none;
    background-color: white;

}

.cv-btn{
    box-shadow: 0 0 20px 0  #0ef;
}

.cv-btn:hover{
    box-shadow: none;
}

section{
    min-height: 100vh;
    /* background-color: #1f242d; */
    
    
}

.home-img{
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}


#about{
    background-color: #282525;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #0ef;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    
}

.check{
    color: #0ef;
}

#skills{
    /* background-image:url(https://images.unsplash.com/photo-1514496959998-c01c40915c5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80); */
    background-color: black;
    background-attachment: fixed;
    height: 100vh;
}

#skills i{
    font-size: 100px;
    border: 2px solid #0ef;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0  #0ef;
}



#projects{
    background-color: #282525;
}

#projects img{
    padding: 2%;
    border: 2px solid #0ef;
    box-shadow: 0 0 10px 0  #0ef;
    transition: .5s ease;
}




.portfolio-c .portfolio-p {
    position: relative;
    overflow: hidden;
    display: flex;
}


.portfolio-p:hover img {
    transform: scale(1.09);
}

.portfolio-p .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-p:hover .portfolio-layer {
    transform: translateY(0);
}


.portfolio-layer h4{
    color: #000000;
}

.portfolio-layer p {
    color: #000;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    box-shadow: 0 0 20px 0  #323946;
    background-color: #0ef;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #323946;
}



.bxs-cog{
    font-size: 20px;
    
    animation: rotate-animation 3s infinite linear;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.btn-change {
    transition: background-position .5s ease; 
    background-size: 200% 100%; /* Set background size for gradient effect */
    background-image: linear-gradient(to right, #0ef 50%, #000000 50%); /* Gradient for transition effect */
    border: none;
  }

  .btn-change:hover {
    background-position: -100% 0; 
  }

  #contact{
    /* background-image: url(img/leo_visions-1o95WN5ekDg-unsplash.jpg); */
    background-color: rgb(52, 49, 49);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }


  #contact input{
    /* background: #323946; */
    background-color: white;
  }

  #contact form .input-box input,
#contact form textarea {
    padding: 10px;
}

#contact textarea{
    background: white;
}

footer{
    background: #282525;
}

@media screen and (max-width: 992px){
    #contact input{
        width: 239px;
    }
    
}


@media screen and (max-width: 600px) {
    #contact input{
        width: 100%;
      }
  }