body{
    padding-top: 10%;
    color: white;
    background-color: #000;
}

.change-theme{
    background-color: white;
}

.home {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.home a{
    font-size: larger;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
}


.navbar{
    background-color: black !important;
    border-bottom: 2px solid #0ef;
    opacity: 0.8;
}

.textchange{
    color: black;
}

.social-media a{
    box-shadow: 0 0 10px 0  #0ef;
    background-color: #0ef ;
    color: #323946;
    transition: .5s ease;
}

.social-media a:hover{
    box-shadow: none;
    background-color: white;

}

.cv-btn{
    box-shadow: 0 0 20px 0  #0ef;
}

.cv-btn:hover{
    box-shadow: none;
}

section{
    min-height: 100vh; 
}

.home-img{
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}


#about{
    border-top: 2px solid #0ef;
    border-bottom: 2px solid #0ef;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #0ef;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
}

.check{
    color: #0ef;
}

#skills i{
    font-size: 100px;
    border: 2px solid #0ef;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0  #0ef;
}

#projects{
    border-top: 2px solid #0ef;
    border-bottom: 2px solid #0ef;
}


#projects img{
    padding: 2%;
    border: 2px solid #0ef;
    box-shadow: 0 0 10px 0  #0ef;
    transition: .5s ease;
}




.portfolio-c .portfolio-p {
    position: relative;
    overflow: hidden;
    display: flex;
}


.portfolio-p:hover img {
    transform: scale(1.09);
}

.portfolio-p .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-p:hover .portfolio-layer {
    transform: translateY(0);
}


.portfolio-layer h4{
    color: #000000;
}

.portfolio-layer p {
    color: #000;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    box-shadow: 0 0 20px 0  #323946;
    background-color: #0ef;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #323946;
}



.bxs-cog{
    font-size: 20px;
    animation: rotate-animation 3s infinite linear;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.btn-change {
    transition: background-position .5s ease; 
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #0ef 50%, #000000 50%);
    border: none;
  }

  .btn-change:hover {
    background-position: -100% 0; 
  }


footer{
    border-top: 2px solid #0ef;
}


.form{
    background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #fff;
}

.form .group{
    padding: 0 15px;
}

.form label{
    padding: 0 18px;
    font-weight: bolder;
    padding-top: 30px;
}

.tright{
    margin: 25px 0;
}

.but-res{
    margin-right: 10px;
}

.but-sub{
    margin-right: 18px;
}


@media screen and (max-width: 600px) {
      .form-switch{
        margin-left: 15px !important;
      }

    #contact{
        min-height: 80vh; 
    }
  }